################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Excelerator/Excelerator.Examples/bin/Debug
